html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: $bgnd1;
  color: $color2;

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fs-attendance {
  font-family: Attendance, Open Sans, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.text-white {
  color: $color2;
}
.text-yellow {
  color: $color1;
}
.text-bold {
  font-weight: 600;
}
.text-super-bold {
  font-weight: 700;
}

.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.submit-button-wrapper {
  position: relative;
  min-width: 11rem;
  cursor: pointer;

  .submit-button-shadow {
    border: 2px solid $color2;
    border-radius: 999px;
    background: transparent;
    width: 100%;
    height: 2.625rem;
    position: absolute;
    top: .625rem;
  }

  .submit-button{
    background-color: $color1;
    border: none;
    border-radius: 999px;
    padding: .625rem 1.75rem;
    width: 100%;
    line-height: 1.375rem;
    font-size: .875rem;
    font-weight: 600;
    color: $color2;
    position: relative;
    cursor: pointer;
    &:hover {
      top: .625rem;
    }
  }
}

.main-nav {
  background-color: $color1;
  color: $color2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.21875rem 4rem 1.21875rem 2rem;

  @media (max-width: 960px) {
    padding: .75rem 1.5rem;
  }

  .toggle-navbar {
    padding: 18px;
    background-color: transparent;
    border-radius: .25rem;
    border: none;
    outline: none;
    cursor: pointer;

    .menu-button {
      -webkit-user-select: text;

      .line-1, .line-3{
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
        transform-style: preserve-3d;
      }
      .line-2 {
        opacity: 1;
      }

      .line-1.expand {
        transform: translate3d(0px, 7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(40deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      }
      .line-2.expand {
        opacity: 0;
      }
      .line-3.expand {
        transform: translate3d(0px, -7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-40deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      }

      .line-1{
        width: 25px;
        height: 3px;
        max-height: 3px;
        max-width: 25px;
        min-height: 3px;
        min-width: 25px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: #000;
      }

      .line-2{
        width: 25px;
        height: 3px;
        max-height: 3px;
        max-width: 25px;
        min-height: 3px;
        min-width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: #000;
      }

      .line-3{
        width: 25px;
        height: 3px;
        max-height: 3px;
        max-width: 25px;
        min-height: 3px;
        min-width: 25px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: #000;
      }
    }

    @media (min-width: 960px) {
      display: none;
    }
  }

  ul {
    display: flex;
    align-items: center;

    list-style: none;
    font-weight: 600;
    margin: 0;
  }

  .right-nav {
    display: flex;
    align-items: center;

    @media (max-width: 960px) {
      display: none;
    }
  }

  .main-pages {
    ul {
      li {
        margin: 0 1.4rem;
        color: $color3;
      }
      li.active{
        color: $color2;
      }
    }
  }

  .socials {
    margin-left: 4rem;

    @media (max-width: 1024px) {
      margin-left: .5rem;
    }

    ul {
      li {
        margin: 0 .75rem;
        a {
          img {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.nav-modal--wrapper {
  height: calc(100vh - 71px);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}

.nav-modal {
  position: fixed;
  left: 0;
  right: 0;
  background: $color1;
  z-index: 2;

  &__item {
    padding: 1.25rem 1.625rem;
    color: rgba(255,255,255,0.5);
    font-size: 1rem;
    font-weight: 600;
  }

  &__social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

.main-footer {
  background-color: $bgnd3;
  padding: 2.875rem 15.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1280px) {
    padding: 2.875rem 2rem;
  }

  @media (max-width: 960px) {
    flex-direction: column;
  }

  .smart-contract {
    color: $color1;
    font-weight: 600;
    text-decoration: underline;
  }

  .copyright {
    color: $color8;
    @media (max-width: 960px) {
      margin: 1.5rem 0;
    }
  }

  .socials {
    display: flex;
    align-items: center;

    list-style: none;
    font-weight: 600;
    margin: 0;

    a {
      border-radius: 999px;
      border: none;
      background-color: $color1;
      padding: 12px 14px;
      margin: 0 .625rem;

      img {
        vertical-align: middle;
      }
    }
  }
}

.connect-wallet-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;

  h1 {
    font-size: 2.8125rem;
    font-family: Attendance, sans-serif;
    color: $color1;
    margin: 0;
    padding-bottom: 0.75rem;
  }

  .comment {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  button.connect {
    padding: .625rem 3.625rem;
    background-color: $color4;
    color: $color2;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1rem;
    font-family: Open Sans;
    border: none;

    &:hover {
      background-color: $color1;
      cursor: pointer;
    }
  }
}

.corgi-details {
  max-width: 21.875rem;

  &.hidden {
    visibility: hidden;  
    @media (max-width: 576px) {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    margin: .75rem auto;
  }

  .image-holder {
    background-image: url('/assets/corgi-image-holder-bgnd.svg');
    background-repeat: no-repeat;
    padding: 1.5rem;
    margin-bottom: .75rem;

    img {
      width: 18.75rem;
    }
  }

  .details-holder {
    .buttons-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;

      button {
        background-color: $color1;
        color: $color2;
        font-weight: 600;
        font-size: .8125rem;
        padding: .625rem .8125rem;
        line-height: 1.125rem;
        border: none;
        outline: none;
        cursor: pointer;

        &:nth-of-type(2) {
          margin-right: 2px;
          margin-left: 2px;
          flex-grow: 1;
        }
      }
    }

    .accordion {
      border-bottom: 1px solid $color5;
      cursor: pointer;

      .accordion-panel {
        padding: .9375rem 1.125rem .9375rem 1.3125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bgnd2;

        &__title {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: .875rem;

          img {
            margin-right: .8125rem;
          }
        }
      }

      .accordion-body {
        padding: .75rem 1.125rem;
        background-color: $bgnd4;
        color: $color7;
        line-height: 1.375rem;
        font-size: .8125rem;
        
        div {
          margin: .25rem 0;
        }
      }
    }
  }
}

.approve-token-modal {
  &__title-bar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      margin: 0;
      line-height: 1.125rem;
      font-size: .875rem;
      font-weight: 600;
    }
    h3 {
      margin: 0;
      line-height: 1.125rem;
      font-size: .875rem;
      font-weight: 400;
    }

    .close {
      cursor: pointer;
    }
  }

  &__body {
    background: $bgnd3;
    margin: 2.5rem 1.25rem 3rem 1.25rem;
    padding: .75rem 1rem;
    text-align: center;

    p {
      font-size: .625rem;
      margin-top: 0;
      margin-bottom: 1.875rem;
    }

    .selected-tokens-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .875rem;
      padding-bottom: 1.25rem;
      margin-bottom: .625rem;
      border-bottom: 1px solid $color1;

      .token-label {
        display: flex;
        align-items: center;
        align-items: center;
        
        &__name {
          margin-left: .5rem;
        }
      }
    }

    .checkout-info {
      font-size: .625rem;

      &__row {
        display: flex;
        justify-content: space-between;
        padding: .125rem 0;
        div {
          line-height: .625rem;
        }
      }
    }
  }

  &__confirm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.25rem 2rem 1.25rem;
    font-size: .625rem;

    button {
      padding: 0.25rem .75rem;
      background-color: $color4;
      color: $color2;
      border-radius: 999px;
      font-weight: 600;
      font-size: .625rem;
      font-family: Open Sans;
      border: none;
      cursor: pointer;

      &.loader {
        padding: 0.125rem 1.25rem;
      }
    }
  }

  button.checkout {
    display: block;
    margin: 0 auto;
    width: 10rem;
    background: none;
    color: $color2;
    border: 1px solid $color1;
    padding: .5rem;
    font-size: .75rem;
    font-weight: 600;
    cursor: pointer;

    &:hover{
      background-color: $bgnd4;
    }
  }
}

.ReactModal__Overlay{
  background-color: rgba(0, 0, 0, 0.75)!important;
}