.my-corgis{
  width: 100%;
  max-width: 69.375rem;
  min-height: calc(100vh - 16rem);
  margin: 0 auto;

  h1 {
    font-size: 4.375rem;
    font-family: Attendance, sans-serif;
    color: $color1;
    margin: 4.375rem 0 2.8125rem 0;

    @media (max-width: 576px) {
      text-align: center;
    }
  }

  .sploot-balance-section {
    padding: .9375rem;
    background-color: $bgnd2;    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sploot-balance__claim-button1 {
      display: block;

      img {
        width: 6rem;
        margin-right: 1rem;
      }
    }
    @media (min-width: 576px) {
      .sploot-balance__claim-button1 {
        display: none;
      }
    }

    .sploot-balance__claim-button2 {
      display: flex;
      align-items: center;

      img {
        margin-right: 1rem;
      }
    }
    @media (max-width: 576px) {
      .sploot-balance__claim-button2 {
        display: none;
      }
    }

    .sploot-balance {
      display: flex;
      align-items: center;

      .balance-numbers{
        margin-left: 1.625rem;
        color: $color7;
        font-weight: 600;
      }
    }
  }

  .not-found-corgi{
    margin-top: 7.5rem;
    text-align: center;

    h3 {
      font-weight: 700;
      font-size: 1.5625rem;
      line-height: 2.125rem;
      margin-bottom: 1.5625rem;
    }

    p {
      line-height: 1.6875rem;
      color: $color7;
    }
  }

  .corgi-holdings {
    margin-top: 1.875rem;
    margin-bottom: 6.25rem;

    &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.875rem;
      flex-wrap: wrap;
    }
  }
}

.change-corgi-modal {
  position: relative;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;

    h3.change-value-title {
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 0;
    }

    .max-characters {
      color: $color11;
    }
  }

  a.close {
    padding: .625rem 1rem;
    background-color: $color2;
    border-radius: 99px;
    position: fixed;
    top: calc(30% - 1rem);
    left: calc(50vw + 10rem);
    cursor: pointer;
  }
  
  .corgi-value {
    border: none;
    background-color: $bgnd4;
    color: $color2;
    padding: .8125rem 1.6875rem;
    outline: none;
    width: 100%;
    font-size: 1rem;
    margin-bottom: .9375rem;
  
    &::placeholder {
      color: $color10;
    }
  }

  input.corgi-value {
    border-radius: 99px;
  }

  textarea.corgi-value {
    border-radius: 1rem;
  }
  
  button.submit-corgi-change{
    border: none;
    border-radius: 99px;
    padding: .8125rem 1.6875rem;
    width: 100%;
    display: block;
    background-color: $color1;
    color: $color2;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: .9375rem;
  
    &:hover {
      background-color: $color4;
    }
  }
  
  p.change-corgi-fee {
    text-align: center;
    font-weight: 600;
    margin: 0;
  }
}
