$color1: #FF9136; // yellow
$color2: #FFFFFF;  // white
$color3: #FFC89A;
$color4: #EB791B;
$color5: #383431;
$color6: #797877;
$color7: #CCC;
$color8: #888;
$color9: #231E1A;
$color10: #666;
$color11: #666;

$bgnd1: #120D09;
$bgnd2: #292521;
$bgnd3: #17120E;
$bgnd4: #201E1C;
$bgnd5: #1C1410;
